

$color_text :   rgb(59, 55, 55);
$color_shadow : rgb(112, 106, 106);  

label,
button{
    font-size: 19px;
    color: $color_text;
    text-shadow: 1px 1px 3px $color_shadow;
    letter-spacing: 1px;
}

label{
    padding-left: 2px;
}



input,
textarea{
    border: 2px solid rgb(115, 105, 105);
    box-shadow: 2px 2px 3px rgb(21, 20, 20);
}


.form-control:focus{
    color: $color_text;
    border: 2px solid rgb(72, 68, 68);
    box-shadow: 2px 2px 3px rgb(21, 20, 20);
}