

<div class="d-flex flex-column w-100">




<div *ngFor="let project of projects; let i = index">

    <div *ngIf="i%2 == 0 then left else right">     </div>


    <ng-template #left>

        <article class=" d-flex justify-content-center w-100">   

            <div class="project animate__animated animate__backInLeft">  
                <div class="image_project">
                    <img src="{{ project.image }}" alt="image_project" class="w-100 rounded">
                </div> 
            
                <div class="description_project">          
            
                    <p class="mt-2">  {{ project.description }}  </p>
            
                    <div class="languages_projetc">
                        <div *ngFor="let language of project.languages" class="language_project">
                            <img src="{{ language.image }}" alt="image_language">
                            {{ language.language }}
                        </div>    
                    </div>

                  <div class="w-100 text-center">
                    <button class="btn" (click)="urlProject(project.url)"> {{ button }} </button>
                  </div>

                </div>
            </div>

        </article>

    </ng-template>


     <ng-template #right>

        <article class="d-flex justify-content-center w-100"> 

            <div class="project animate__animated animate__backInRight">  
                
                <div class="image_project">
                    <img src="{{ project.image }}" alt="image_project" class="w-100 rounded">
                </div>
                
                
                <div class="description_project">
            
                  <p class="mt-2">  {{ project.description }}  </p>
                         
                  <div class="languages_projetc">
                    <div *ngFor="let language of project.languages" class="language_project">
                        <img src="{{ language.image }}" alt="image_language">
                        {{ language.language }}
                    </div>    
                  </div>

                  <div class="w-100 text-center">
                    <button class="btn"  (click)="urlProject(project.url)"> {{ button }} </button>
                  </div>

                </div>

        
            </div>
        </article>

    </ng-template>

</div>




</div>
