

$color_text :   rgb(59, 53, 53); 
$color_shadow : rgb(112, 106, 106);  
$color_border_text : rgb(233, 229, 229);




@mixin style_images($radius){
    border-radius: $radius;
    box-shadow: 2px 2px 3px $color_shadow;
}

%style_text{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $color_text;
    text-shadow: 2px 2px 4px $color_shadow;
    font-size: 75px;
}




%animation_start{
    transform: translateY(50px);
    opacity: 0;
}


%border_text{
    color:  $color_border_text;
    -webkit-text-stroke: 3px $color_text;
    text-shadow: 3px 3px 3px black;
}



main{
    min-height:  calc(100vh - 95px - 30px);  
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px solid black;

    #messages{
        width: 60%;
        display: flex;
        align-items: center;
        z-index: 3;

        .messages__container{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
      
            #welcome{        
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                gap: 10px;
       
                span{
                    display: block;
                    transition: 600ms all ease-in-out;
                    @extend %style_text;
                    @extend %animation_start;
                }

            }
           
            .message{
                width: 100%;
                p{
                    transition: 600ms all ease-in-out; 
                    text-align: center;
                    padding-left: 3px; 
                    @extend %style_text; 
                    @extend %animation_start;
                    animation: slideUp 1s ease forwards;
                }

            }

            #welcome span:nth-child(1){
                animation: slideUp 1s ease forwards;
            }

        
            #welcome span:nth-child(2){
                animation: slideUp 1s ease forwards;
                animation-delay: 0.8s;
            }

            .message p:nth-child(1){
                animation-delay: 1s;
            }

            .message p:nth-child(2){
                animation-delay: 1.2s;
            }
            
        }

        .messages__container:hover{
        
            #welcome span,
            .message p{    
               @extend %border_text;
            }
         
        }
     
    }



    #my_picture{
        width: 40%;
        display: flex;
        align-items: flex-end;
        transform: translateX(100px);
        opacity: 0;
        animation: myImagePull 1s forwards ;
        animation-delay: 0.8s;

        .my_pictureSmall{ display: none; }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
 
    }


    @keyframes slideUp {
        0% {
        opacity: 0;
        transform: translateY(50px) scale(1.2);
        }
        100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        }
    }  



    @keyframes myImagePull{
        from{
            transform: translateX(100px);
            opacity: 0;
        }
        to{
            transform: translateX(0px);
            opacity: 1;
        }
    }

}



%style_phrase {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}


section{
  height: auto;
  margin-bottom: 25px;

    h5{
        font-size: 35px;
        text-align: center;
        text-shadow: 2px 1px 3px $color_shadow;
        letter-spacing: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .elements_responsive{
            display: none;
            width: 65px;
            height: 60px;
            @include style_images(15px);
        }
    }

    p{
        font-size: 22px;
        font-weight: bold;
        @extend %style_phrase;
    }

    .container_image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span{
        font-size: 24px;
        color: rgb(225, 55, 55);
        cursor: pointer;
        margin-left: 5px;
        transition: 500ms all ease-in-out; 
    }

    span:hover{
        text-decoration: underline;
    }

    img{
        width: 280px;
        height: 250px;
        @include style_images(20px);
    }
}


@media(max-width: 975px){

    main{
     
         #messages{
            width: 55%;

           .messages__container{
             #welcome span{
                font-size: 60px;
               }
    
               .message{
                p{
                    font-size: 55px;
                } 
              }
           }
        
     
        }

         #my_picture{
            width: 45%;
            display: flex;
            align-items: flex-end;
            transition: 500ms;
        } 

    }
}


@media(max-width: 871px){

    .container_image{
        display: none !important;
    }

    .elements_responsive{
        display: block !important;
    }

    .container_text{
        width: 100%;
    }

    main{
        flex-direction: column; 
        justify-content: space-between;
        border-bottom: transparent;

         #messages{
           width: 100%;
           height:  calc(50vh - 95px - 30px); 
           justify-content: center;
           align-items: center;
           padding-bottom: 0px;
        }

      
        #my_picture{
            width: 100%;
            height:  calc(60vh - 95px - 30px); 
            justify-content: center;
            border-bottom: 2px solid black;

            .my_pictureBig{ display: none; }

            .my_pictureSmall{ display: block; }
        }

    }
}

 





 @media(max-width: 450px){

    main{
         #messages{

          .messages__container{
              #welcome span{
                font-size: 43px !important;
               }
    
               .message{
                p{
                    font-size: 38px !important;
                } 
    
             }
           } 

        }
    }

} 

 








