
<app-loading *ngIf="showLoading"></app-loading> 

<div [hidden]="showLoading">    


  <nav>

    <div id="home_effects">

      <div>
        <a href="#"  routerLink="/" id="home_link">
          <img src="../assets/images/logo_home.png" alt="logo" id="logo_image">   
          <span id="logo"> CL </span>  
        </a>
      </div>


      <div id="home_flags">
        <a id="choosed_language">   
            <img src="../assets/images/bandiera_italia.png" alt="flag_language" #flag>
        </a>
        <ul id="home_flags_menu">
          <li><a class="home_flag"  (click)="getLang('ita')"> 
            <img src="../assets/images/bandiera_italia.png" alt="flag_italy">  Italiano
            </a>
          </li>
          <li class="my-1"><a class="home_flag"  (click)="getLang('esp')"> 
            <img src="../assets/images/bandiera_spagna.png" alt="flag_spain">   Español
            </a>
          </li>
          <li><a class="home_flag"  (click)="getLang('eng')"> 
            <img src="../assets/images/bandiera_inghilterra.png" alt="flag_spain">   English
            </a>
          </li>
        </ul>
      </div>


      <div class="links_noResponsive">
        <app-links></app-links>
      </div>
      

    </div>



    <div id="links_effects">

      <li *ngFor="let link of nav; let i = index " class="link_li"  routerLink="{{ link.route }}" [routerLinkActive]="['actived']">
        <a class="link link_{{i}}r" >  {{ link.link }}</a>    
      </li> 

    </div>


    <button  type="button"  id="button_responsive"> 
      <span (click)="menuResponsive()"  >  
        <i class="fa fa-bars fa-2xl" aria-hidden="true" id="close_button"> </i>  
        <i class="fa fa-times fa-2xl" aria-hidden="true" id="closed_button"></i>
      </span> 
    </button>

  </nav>



  <div class="container-fluid" id="container">   

    <!--  NAV RESPONSIVE -->
    <div id="nav_responsive">
      <li *ngFor="let link of nav; let i = index" class="link_li link_responsive_{{i}}">
        <a (click)="navigate(link.route)">  {{ link.link }}</a>   
      </li> 

      <div class="links_responsive">
        <app-links></app-links> 
      </div>
    </div>



    <router-outlet></router-outlet>

  </div>

 </div>   

