.nav{
    background-color: var(--colorPrimary);
    box-shadow: 0px 2px 3px var(--colorDark);
}

.nav-item{
    display: inline-block;
    padding: 1rem;
}

.nav-dropdown{
    background-color: var(--colorPrimary) !important;
    box-shadow: 0px 0px 4px var(--colorDark);
    border: transparent !important;
}