@import "./nav.css";
@import "./accordion.css";
@import "./table.css";

:root{  
    --maxWith: 40rem;
    --colorPrimary : rgb(240, 235, 235);
    --colorPrimaryStrong :  rgb(228, 221, 221);
    --colorDark : rgb(99, 93, 93);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-size: 10px;
}

.alert{
    max-width: var(--maxWith);
    text-align: center;
    margin: 10px auto;
}

h2{
    text-align: center;
    padding: 1.5rem;
}

.card{
    max-width: var(--maxWith);
    padding: 1rem;
    font-size: 1.2rem;
    margin: 10px auto;
    border: transparent;
    box-shadow: 0px 0px 10px var(--colorDark);
}

#liveToast{
    background-color: rgb(223, 171, 171) !important;
}

.container__btnAdd{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.3rem;
}


