
table{
    width: 100%;
}

.table__fullPage{
    box-shadow: 0px 0px 5px var(--colorDark);
    background-color: var(--colorPrimary);
    border-radius: 10px;
}

tr{
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--colorDark) !important;
}

td{
    width: 100%;
    text-align: center;
}

.td__strong{
    font-weight: bold;
}

.table__fullAccordion td{
    width: 32%;
}

.table__containerImage{
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 8px !important;  
}

.table__image{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

