@use 'colors';
@use 'nav';

$color_light : colors.$color_light;
$color_dark_shadow : colors.$color_dark_shadow;
$color_danger : colors.$color_danger;
$color_success : colors.$color_success;

$nav_height : nav.$nav_height;

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  



%alert_style{
    color: $color_light;
    text-shadow: 2px 2px 3px rgb(39, 37, 37);
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    border: 2px solid black;
    box-shadow: 1px 2px 3px $color_dark_shadow ;
    border-radius: 10px;
    padding: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    overflow-x: hidden;
    overflow-y: auto;
}

body{
   background-color: $color_light !important;
}


.error{
    background-color:  $color_danger;
    @extend %alert_style;
}


.success{
    background-color: $color_success;  
    @extend %alert_style;
}



#container{
    position: relative;
    margin-top: 30px;
    min-height: calc(100vh - #{$nav_height} - 30px);  
}













