<div id="loading">

  <div class="circle-container">
    <!-- Testo lungo la circonferenza -->
    <div class="circle-text">
      <svg viewBox="0 0 300 300">
        <!-- Definisce un percorso circolare -->
        <defs>
          <path id="circlePath" d="M 150, 150 m -130, 0 a 130,130 0 1,1 260,0 a 130,130 0 1,1 -260,0" /> 
        </defs>
        <!-- Testo lungo il percorso -->
        <text>
          <textPath href="#circlePath" startOffset="0%">
            <tspan>F</tspan><tspan>U</tspan><tspan>L</tspan><tspan>L</tspan>
            <tspan>&nbsp;</tspan>
            <tspan>S</tspan><tspan>T</tspan><tspan>A</tspan><tspan>C</tspan><tspan>K</tspan>
            <tspan>&nbsp;</tspan>
            <tspan>W</tspan><tspan>E</tspan><tspan>B</tspan>
            <tspan>&nbsp;</tspan>
            <tspan>D</tspan><tspan>E</tspan><tspan>V</tspan><tspan>E</tspan><tspan>L</tspan><tspan>O</tspan><tspan>P</tspan><tspan>E</tspan><tspan>R</tspan>
          </textPath>
        </text>
      </svg>
    </div>

    <div class="circle-name">
      CL
    </div>
  </div>


</div>


