
/* $color_text :  rgb(253, 250, 247);
 */

 $color_text :   rgb(76, 65, 65);
$color_shadow : rgb(40, 39, 39);  

%border_style{
    box-shadow: 2px 2px 4px $color_shadow; 
    border-radius: 8px;
}


.skills{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3{
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 35px;
        color: $color_text;
        text-shadow: 1px 1px 3px $color_shadow;
    }

    .skill{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
        border-radius: 8px;
        padding: 5px;
        padding-left: 10px;
        background-color:  rgb(253, 250, 247);
        @extend %border_style;

        img{
            width: 40px;
            height: 35px;
        }
    }
}







