<div class="row">

    <!-- sezione front-end  -->
    <div class="col-lg-4 col-sm-6">         
 
        <div class="skills section_1">
            <h3> {{ skills.frontend.title }} </h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.frontend.languages" class="skill">
                    <img src="{{ skill.image }}" alt="skill_image">
                    {{ skill.language }}
                </div>
            </div>
        </div>
     
    </div>

   
        <!-- sezioni  back-end  e  datadase -->
    <div class="col-lg-4 col-sm-6">              
        
        <div class="skills section_2">
            <h3> {{ skills.backend.title }} </h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.backend.languages" class="skill">
                    <img src="{{ skill.image }}" alt="skill_image">
                    {{ skill.language }}
                </div>
            </div>
        </div>


        <div class="skills section_3">
            <h3> {{ skills.database.title }} </h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.database.languages" class="skill">
                    <img src="{{ skill.image }}" alt="skill_image">
                    {{ skill.language }}
                </div>
            </div>
        </div>
    
    </div>


        <!--  restanti sezioni  -->
    <div class="col-lg-4 col-12">
        <div class="row">

            <div class="col-lg-12 col-sm-6">
                
                <div class="skills section_5">
                   <h3> {{ skills.devops.title }} </h3>
                 <div class="skills__languages">
                   <div *ngFor="let skill of skills.devops.languages" class="skill">
                     <img src="{{ skill.image }}" alt="skill_image">
                     {{ skill.language }}
                    </div>
                 </div>
                 </div>
             </div>

            <div class="col-lg-12 col-sm-6">
                <div class="skills section_6">
                    <h3> {{ skills.cms.title }} </h3>
                    <div class="skills__languages">
                        <div *ngFor="let skill of skills.cms.languages" class="skill">
                            <img src="{{ skill.image }}" alt="skill_image">
                            {{ skill.language }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    </div>




</div>


<div class="icons8">
    {{ language.skills.icon }} <a target="_blank" href="https://icons8.com">Icons8</a>
</div>

