<div class="row">

    <!-- sezione front-end  -->
    <div class="col-lg-4 col-sm-6">         
        <div class="skills section_1">
            <app-skill-section
                [skillSection]="skills.frontend"
                >
            </app-skill-section>
        </div>
    </div>

   
    <!-- sezioni  back-end  e  datadase -->
    <div class="col-lg-4 col-sm-6">              
        
        <div class="skills section_2">
            <app-skill-section
                [skillSection]="skills.backend"
                >
            </app-skill-section>
        </div>


        <div class="skills section_3">
            <app-skill-section
                [skillSection]="skills.database"
                >
            </app-skill-section>
        </div>
    
    </div>


        <!--  restanti sezioni  -->
    <div class="col-lg-4 col-12">
        <div class="skills section_4">
            <app-skill-section
                [skillSection]="skills.devops"
                >
            </app-skill-section>
        </div>
    </div>




</div>


<div class="icons8">
    {{ language.skills.icon }} <a target="_blank" href="https://icons8.com">Icons8</a> & <a target="_blank" href="https://www.freepik.es/search">Shah Rukh Qureshi</a>
</div>

