<div class="row">

    <!-- sezione front-end  -->
    <div class="col-lg-4 col-sm-6">         
        <div class="skills section_1">
            <h3>{{ skills.frontend.name }}</h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.frontend.skills" class="skill">
                <img [src]="url + '/images/skills/' + skill.image" [alt]="'image_' + skill.name">
                {{ skill.name }}
                </div>
            </div>
        </div>
    </div>

   
    <!-- sezioni  back-end  e  datadase -->
    <div class="col-lg-4 col-sm-6">              
        
        <div class="skills section_2">
            <h3>{{ skills.backend.name }}</h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.backend.skills" class="skill">
                <img [src]="url + '/images/skills/' + skill.image" [alt]="'image_' + skill.name">
                {{ skill.name }}
                </div>
            </div>
        </div>


        <div class="skills section_3">
            <h3>{{ skills.database.name }}</h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.database.skills" class="skill">
                <img [src]="url + '/images/skills/' + skill.image" [alt]="'image_' + skill.name">
                {{ skill.name }}
                </div>
            </div>
        </div>
    
    </div>


        <!--  restanti sezioni  -->
    <div class="col-lg-4 col-12">
        <div class="skills section_4">
            <h3>{{ skills.devops.name }}</h3>
            <div class="skills__languages">
                <div *ngFor="let skill of skills.devops.skills" class="skill">
                <img [src]="url + '/images/skills/' + skill.image" [alt]="'image_' + skill.name">
                {{ skill.name }}
                </div>
            </div>
        </div>
    </div>




</div>


<div class="icons8">
    {{ language.skills.icon }} <a target="_blank" href="https://icons8.com">Icons8</a> & <a target="_blank" href="https://www.freepik.es/search">Shah Rukh Qureshi</a>
</div>

