
@use 'colors';

$color_light : colors.$color_light;
$color_light_shadow : colors.$color_light_shadow;
$color_light_hover : colors.$color_light_hover;
$color_dark_light :  colors.$color_dark_light; 
$color_dark_shadow : colors.$color_dark_shadow;



@keyframes navDown{
    from{
      transform: translateY(-100px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
}


@mixin links_hover($bottom){
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: $bottom;
  background-color: white;
  transition: all 300ms linear;
}


@mixin div_down($translate){
  opacity: 1;
  transform: translateY($translate);
}


@mixin dimensionImage($width, $heigth){
  width: $width;
  height: $heigth;
  border-radius: 5px;
}



%links_nav{
  position: absolute;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px whitesmoke;
  background-color: $color_dark_light;
  color: $color_light;
  pointer-events: none;

  transition: transform 0.5s ease, opacity 0.5s ease, pointer-events 0s linear 2s;    
  opacity: 0;  
}




nav{
  height: 95px;
  background-color: $color_dark_light;
  box-shadow: 0px 2px 2px  $color_dark_shadow; 
  position: relative;
  transform: translateY(-100px);
  animation: navDown 800ms forwards;

  display: flex;

  a, a:visited{
      display: inline-block;
      font-size: 22px;
      color: white; 
  }

  #home_effects{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;

      display: flex;
      align-items: center;
      gap: 40px;

      #home_link{
          height: 100%;
          font-size: 32px;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
          font-weight: bold;
          letter-spacing: 1px;
          text-shadow: 1px 0px 3px $color_light_shadow;
          position: relative;

          display: flex;
          align-items: center;

          #logo_image{
              width: 90px;
              height: 90%;   
              border-radius: 900px; 
              color: white;
              border: transparent;

              animation-name: rotateLogo;
              animation-duration: 20s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              }
        
              @keyframes rotateLogo {
                  from{
                      transform: rotateZ(0deg);
                  }
                  to{
                      transform: rotateZ(360deg);
                  }
              }
        
              #logo{
                position: absolute;
                top: 24%;
                left: 27%;
      
                transform: scale(0.8);
                opacity: 0.9;

                font-family: "Rubik Wet Paint", system-ui;
                font-weight: 400;
                font-style: normal;
  
              }
        
              #logo:hover{
                  text-shadow: 0px 0px 5px whitesmoke;
              }
      }


      #home_flags{
        height: 100%;
        position: relative;
        cursor: pointer;
        
        display: flex;
        align-items: center;

        #choosed_language{
          img{
            @include dimensionImage(45px, 30px);
          } 
        }


        #home_flags_menu{
          position: absolute;
          min-width: 160px;
          background-color: $color_dark_light;
          box-shadow: 0px 0px 5px whitesmoke;
          z-index: 2;
          top: 37px;
          left: -100%;
          padding: 15px;
          @extend %links_nav; 
          list-style: none;

          transform: translateY(-50px); 
          transition: 500ms all ease-in-out;

          .home_flag{
            position:  relative;
            width: 100%;
            text-decoration: none;

            img{
              @include dimensionImage(30px, 20px);
              margin-right: 5px;
            }
          }

          .home_flag::after{
            @include links_hover(-2px);
          }

          .home_flag:hover::after{
            width: 100%;
            left: 0;
          }
   
        }
      }


      #home_flags:hover{
        #home_flags_menu{
          @include div_down(30px);
          animation: enablePointer 1s forwards;
        }
      } 
  }

  #home_effects:hover{
      color: $color_light_hover;
      transition: 700ms;
  }



  .contact_links{
    padding: 10px; 
    width: 100%; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: white;

    .link{
      position : relative; 
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;

      .link__word{
        @extend %links_nav;
        left: -55%;     
      }

      .link__word::after{ 
        @include links_hover(5px);
      }


      .link__word:hover::after{
        width: 85%;
        left: 5px;
      } 

      .choose_curriculum{
        @extend %links_nav;
        left: -150%;
        width: 155px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    

        .curriculum{ 
          display: inline-flex;
          align-items: center;
          gap: 3px;
          position: relative;
          padding-left: 7px;
          cursor: pointer;
        }

        .curriculum:first-child{
          margin-bottom: 5px;
        }

        .curriculum::after{ 
            @include links_hover(0);
        }


        .curriculum:hover::after{
          width: 90%;
          left: 5px;
        } 
      }

    }


    .link:hover{
      .link__word{
        @include div_down(35px);
        animation: enablePointer 1s forwards;
      }

      .choose_curriculum{
        @include div_down(75px);
        animation: enablePointer 1s forwards;
      }

   

      @keyframes enablePointer {
        from {
          pointer-events: none;
        }
        to {
          pointer-events: auto;
        }
      }

    }

  .fa{ cursor: pointer; }
  .fa:hover{ color: $color_light_hover; }
 
  }

  .links_responsive{
    opacity: 0;
  } 

}



@media(max-width:1200px){
  /*    #logo_image{
        width: 85px !important;
        height: 78px !important;   
        margin-left: 5px;
    } */


    .links_noResponsive{
        display: none !important;
    } 
  
  nav{
    .contact_links{
      .link:hover{    
          .choose_curriculum{
              @include div_down(63px);
              animation: enablePointer 1s forwards;
          }
      }
    }
  }

  }








/* 

    #choosed_language::after{
      color: white;
    }

    #choosed_language img{
        width: 45px; 
        height: 35px; 
        border-radius: 5px;
        border: 2px solid white;  
        transition: 300ms all  ease-in-out;
    }

    #home_effects img:hover{
       transform: scale(1.1);
    }


    #home_link{
        font-size: 32px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 0px 3px rgb(211, 202, 202);
        position: relative;
     }
        

    
    #home_effects .dropdown-toggle{ cursor: pointer; }

    #home_effects .dropdown-toggle::after {
          display: none; 
    }


    #home_effects .dropdown:hover .dropdown-menu{
      transform: translateY(0px);
      pointer-events: auto;
      opacity: 1;
      animation: enablePointer 1s forwards;
    }


    @keyframes enablePointer {
        from {
          pointer-events: none;
        }
        to {
          pointer-events: auto;
        }
    }


    #home_effects .dropdown-menu{
        display: block;
        position: absolute;
        background-color: var(--theme);
        box-shadow: 0px 0px 5px whitesmoke;
        z-index: 2;
        top: 50px;
        left: -80%;
        transform: translateY(-50px);
        pointer-events: none;
        opacity: 0;
        transition: 500ms all ease-in-out;
     }

     #home_effects .dropdown-menu a{
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        cursor: pointer;
    }

    #home_effects .dropdown-menu a:hover{
        background-color: var(--theme);
        color: white;
    } 

    #home_effects .dropdown-menu a::after{ 
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: white;
        transition: all 300ms linear;
      }


      #home_effects .dropdown-menu a:hover::after{
        width: 80%;
        left: 15px;
      } 

      #home_effects  .dropdown-menu img{
        width: 35px;
        height: 25px;
        border-radius: 5px;
    }
    

  
  .collapse{

    height: 100%;
  }

  #links_effects{
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
  }

  

  #links_effects  a{
    border: 1px solid red;

      height: 100%;
        display: flex;
        align-items: center;
        font-size: 27px;
    } 
    
    #links_effects li:hover,
    .actived{
        background-color: white !important;  
        color: var(--theme) !important;
        overflow: hidden;
        transition: 1.5s;  
    }


 

    #links_effects li:hover a{   
            color: var(--theme);   
            text-shadow: 1px 1px 3px rgb(155, 142, 142);                
    }  

    #button_responsive{
        border: transparent;
        background-color: transparent;
        margin-right: 20px;
        color: white;
    }

    #closed_button{
       transform: translateX(200px);
     }


    #offcanvasNav{
        width: 0px;
        height: 0px; 
        background-color: var(--theme); 
        box-shadow: 0px 2px 2px var(--shadow); 
     
        position: absolute;
        top : 95px;
        right: 0;
        opacity: 0.8;
      }

      #offcanvasNav ul {
          width: 100%;
          height: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 5px;
        }

      #offcanvasNav ul li{
          width: 100%;
          transition: 500ms;
          display: flex;
          justify-content: center;
      }

      #offcanvasNav ul a{
          transform: translateX(800px);
          opacity: 0.2;
          font-size: 34px;
          letter-spacing: 2px;
      }   */