
@use './global_styles.scss' as gl;


$color_text :  gl.$projects_light; 
$color_shadow : gl.$projects_shadow;
$color_background :
rgb(59, 53, 53) 0%,
rgb(91, 79, 79) 70%,
rgb(134, 117, 117)  100%;


%border_style{
    box-shadow: 0px 0px 10px $color_shadow;
    border-radius: 8px;
}



%border_style_hover{
    border: transparent;  
    box-shadow: 3px 4px 4px rgb(84, 76, 76); 
}


@mixin backgroundColor(){
    background-image: linear-gradient($color_background);
}



#projects_invisibles{
    display: none;
}



.project{
    width: 85%;
    height: auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    @extend %border_style;

    .image_project{
       width: 35%;
       height: 100%; 
       display: flex;
       align-items: center;
       

       img{ 
        height: 250px;  
        box-shadow: 0px 0px 5px gl.$dark;
     }
    }

    .description_project{
        width: 60%; 
        height: 100%;
        font-size: 19px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .title_project{
            width: 400px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @extend %border_style;
            margin: 0 auto;

            h4{
                font-size: 30px;
                text-shadow: 2px 1px 3px gl.$projects_textShadow;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
            }

            .project_image_responsive{
                width: 70px;
                height: 60px;
                display: none;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }

      

        .languages_projetc{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 15px;
    
            .language_project{
                display: flex;
                align-items: center;
                gap: 3px; 
                padding: 3px;
                padding-left: 5px;
                @extend %border_style;
            }      
        }
    }



    .btn{
        width: 200px;
        margin: 0 auto;
    }

}


.project:hover{
    overflow: hidden;
    cursor: pointer;
    color: white;
    @extend %border_style_hover; 

    @include backgroundColor();
 

    .language_project,
    .title_project{
      background-color: $color_text;
      color: black;
    }


    .title_project{
        animation: title_effect 300ms linear;
    }

    
     .projects_left{
        animation: effect_right 500ms linear;
    }

    .projects_right{
        animation: effect_left 500ms linear;
    } 

    @keyframes title_effect {
        from {
            transform: translateY(-70%);
        }
        to {
            transform: translateY(0%);
        }
    }

    @keyframes effect_right {
        from {
            transform: translateX(400%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes effect_left {
        from {
            transform: translateX(-400%);
        }
        to {
            transform: translateX(0%);
        }
    }
}






/* ------------------------      MEDIA QUERY    ---------------------------- */


@media(max-width:992px){
    .project{
        width: 100%;
    }

    #projects_invisibles{
        display: block;
    }

    #projects_visibles{
        display: none;
    }
    
}



@media(max-width:775px){
    
.project{
    .image_project{
      display: none;
    }

    .description_project{
        width: 100%; 

        .title_project{
            h4{
                font-size: 30px;
            }

            .project_image_responsive{
                display: block;
            }
        }
    }
 }
}



@media(max-width:465px){
    
    .project{
        .image_project{
          display: none;
        }
    
        .description_project{
            width: 100%; 
            font-size: 16px;
    
            .title_project{
                width: 95%;
                h4{
                    font-size: 20px;
                }
    
                .project_image_responsive{
                    width: 40px;
                    height: 35px;
                }
            }
        }
     }
    }

