
@use './global_styles.scss' as gl;

@use './home.scss';
@use './skills.scss';
@use './projects.scss';
@use './aboutme.scss';
@use './contact.scss';

$color_hover : gl.$light;
$color_theme :   gl.$dark; 
$color_shadow : gl.$dark_shadow;


.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}


%style_logo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }



%alert_style{
    color: white;
    text-shadow: 1px 1px 3px rgb(39, 37, 37);
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    border: 2px solid black;
    box-shadow: 1px 2px 3px $color_shadow ;
    border-radius: 10px;
    padding: 10px;
}



*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
   background-color: rgb(233, 229, 229) !important;
    overflow-x: hidden;
}




.error{
    background-color: gl.$danger;
    @extend %alert_style;
}


.success{
    background-color: gl.$success;
    @extend %alert_style;
}



#container{
    margin-top: 110px; 
    min-width: 480px !important;
    min-height: 619px;    /*   min-height: 559px;  */
}




.navbar{
    height: 95px;
    background-color: $color_theme;
    box-shadow: 0px 2px 2px  $color_shadow ; 
    position: relative;

    a,
    a:visited {
       font-size: 22px;
       color: white;
    }

  


    #home_effects{
        display: flex;
        align-items: center;

        a:hover{
            color: $color_hover;
            transition: 700ms;
        }

        img{
            width: 40px; 
            height: 35px; 
            background-color: white; 
            border-radius: 5px;
            border: 2px solid white;
        }

        img:hover{
            background-color: $color_hover;
        }


        #home_link{
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 1px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-shadow: 1px 0px 3px rgb(211, 202, 202);
            position: relative;
            
            #logo_image{
            width: 90px;
            height: 85px;   
            border-radius: 900px; 
            color: white;
            border: transparent;
            animation-name: rotateLogo;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            }

            @keyframes rotateLogo {
                from{
                    transform: rotateZ(0deg);
                }
                to{
                    transform: rotateZ(360deg);
                }
            }

            #logo{
                position: absolute;
                top: 23.5%;
                left: 35%;
                @extend %style_logo;
            }

            #logo:hover{
                text-shadow: 0px 0px 5px whitesmoke;
            }
        }
    

        .dropdown-toggle:visited{
            color: white;
        }
    
        .dropdown-menu{
            position: absolute;
            background-color:  $color_theme;
            border: 1px solid white;
            z-index: 2;
            top: 50px;
            right: 0;

            a{
                display: flex;
                align-items: center;
                gap: 15px;
                position: relative;
                cursor: pointer;
            }
    
             a:hover{
                background-color: $color_theme;
                color: white;
            } 

            a::after{ 
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                left: 10;
                bottom: 0;
                background-color: white;
                transition: all 300ms linear;
             }


            a:hover::after{
                width: 80%;
             } 

            img{
                width: 35px;
                height: 25px;
                border-radius: 5px;
            }
        }
    }




/*   LINK     */

    #links_effects{
     
        a{
            height: 13vh;
            display: flex;
            align-items: center;
            font-size: 27px;
        } 
        
        li:hover,
        .actived{
            background-color: white;  
            overflow: hidden;
            transition: 1.5s;

            a{   
                color: $color_theme;     
                text-shadow: 1px 1px 3px rgb(155, 142, 142);                
            }   
            
        }

        #button_responsive{
            border: transparent;
            background-color: transparent;
            margin-right: 20px;
            color: white;

         
        }

        #closed_button{
           transform: translateX(200px);
         }


        #offcanvasNav{
            width: 0px;
            height: 0px;
            background-color: $color_theme; 
            box-shadow: 0px 2px 2px $color_shadow ; 
    
            position: absolute;
            top : 95px;
            right: 0;
            opacity: 0.8;
    
            ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 5px;
            
    
                li{
                    width: 100%;
                    transition: 500ms;
                    display: flex;
                    justify-content: center;
                }
    
                  a{
                    transform: translateX(800px);
                    opacity: 0.2;
                    font-size: 34px;
                    letter-spacing: 2px;
                  }  
            }
        }

    }  

   
}



.contact_links{
    padding: 10px; 
    width: 100%; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: white;

    .link{
         position : relative; 

        .link__word{
            position: absolute;
            font-size: 16px;
            border: 1px solid white;
            box-shadow: 0px 0px 15px whitesmoke;
            padding-right: 5px;
            padding-left: 5px; 
            border-radius: 5px;
            margin-top: 8px;
            left: -50%;
        }

        .choose_curriculum{
            position: absolute;
            background-color: $color_theme; 
            width: 0px; 
            height: 0px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px whitesmoke;
            left: 8px; 
            top: 0;
            font-size: 15px;
            display: none;
            opacity: 0;    

            .curriculum{ 
                text-align: left; 
                opacity: 0; 
                position: relative;
                cursor: pointer;
            }

            .curriculum:first-child{
                margin-bottom: 5px;
            }

            .curriculum::after{ 
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                left: 0;
                bottom: 0;
                background-color: white;
                transition: all 300ms linear;
             }


            .curriculum:hover::after{
                width: 100%;
             } 


        }

    }

    .fa{ cursor: pointer; }
    .fa:hover{ color: $color_hover; }
   
}

.links_responsive{
    opacity: 0;
} 




@media(max-width:1200px){
    #logo_image{
        width: 85px !important;
        height: 78px !important;   
        margin-left: 5px;
    }

    .links_noResponsive{
        display: none !important;
    } 
}







