
$color_text :   rgb(59, 53, 53); 
$color_shadow :  rgb(40, 39, 39);
$transition : 500ms all ease-in-out;





@mixin backgroundColor(){
    background-image: linear-gradient($color_background);
}



%style_phrase {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

%text_shadow{
    color: $color_text;
    text-shadow: 1px 1px 0px #333, 
    2px 2px 0px #666
    3px 3px 0px #999;
}


.project{
    width: 85%;
    height: auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;

    .image_project{
       width: 35%;
       height: 100%; 
       display: flex;
       align-items: center;

       img{ 
        height: 250px;  
        box-shadow: 0px 0px 5px  rgb(59, 53, 53); 
        transition: $transition;
     }
    }

    .description_project{
        width: 60%; 
        height: 100%;
        font-size: 19px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding: 10px;
        @extend %style_phrase;   

        p{ 
            @extend %text_shadow;
            text-align: left; 
            transition: $transition;
        }

        .languages_projetc{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 15px;
            @extend %style_phrase;   

            .language_project{
                display: flex;
                align-items: center;
                gap: 3px; 
                font-size: 15px;
                padding: 5px;
                @extend %text_shadow;
                transition: $transition;

                img{
                    width: 30px; 
                    height: 25px;
                }
            } 
             
        }


        button{
            background-color: $color_shadow;
            color: white;
            width: 80px;
            transition: $transition;
            margin-top: 10px;
        }

        button:hover{
            background-color:  rgb(82, 74, 74); 
        }
    }



    .btn{
        width: 200px;
        margin: 0 auto;
    }

}


.project:hover{

    .image_project{
        img{
            box-shadow: 2px 2px 5px $color_shadow;
        }
 
    }

    .description_project{
  
       p{
         text-shadow: 3px 3px 5px  rgb(157, 149, 149);   
 
       }

       .languages_projetc  {
         .language_project{
            text-shadow: 3px 3px 5px  rgb(157, 149, 149);   
         }
       }

    } 
}






/* ------------------------      MEDIA QUERY    ---------------------------- */


@media(max-width:992px){
    .project{
        width: 100%;
    }
    
}



@media(max-width:775px){
    
 .project{
    min-height: 400px; 
    flex-direction: column;

     .image_project{ 
        width: 250px; 
        height: 250px;

        img{
            width: 100%;
            height: 100%;
        }
    } 

    .description_project{
        width: 100%; 
        height: auto;

       p{
        width: 100%;
        opacity: 1;
        transform: scale(1);
        transition: 600ms all ease-in-out;
        display: flex;
        align-items: center;
       }

    } 
 }

}



@media(max-width:457px){
    .project{
    
         .image_project{ 
          width: 200px; 
          height: 200px;
        } 
    }
}



@media(max-width:339px){
    .project{
    
         .image_project{ 
          width: 150px; 
          height: 150px;
        } 
    }
}


